* { font-family: 'Roboto', sans-serif; }

table td,
table th {
  text-align: left;
  padding: 4px;
}

.example-wrap {
  margin: 50px 0;
  padding: 20px;
}

/* to keep items in single line */
table thead tr th,
table tbody tr td {
  white-space: nowrap;
}

h1 {
  margin-top: 60px;
  text-align: center;
}

h4 {
  text-align: center;
  color: grey;
}

